$font-open-sans300: 'Open Sans Light';
$font-open-sans400: 'Open Sans Regular';
$font-open-sans700: 'Open Sans Bold';

$font-Dosis300: 'Dosis Light';
$font-Dosis400: 'Dosis Regular';
$font-Dosis500: 'Dosis Normal';
$font-Dosis700: 'Dosis Bold';

$white: #FFFFFF;
$corn: #E8C300;
$mine-shaft: #333333;
$mercury:#E5E5E5;
$gray: rgba(255, 255, 255, 0.5);
$black:#000;
$white-opasity: rgba(255, 255, 255, 0.5);