.menu__top-wrap{
    margin: 100px auto 50px auto;
    max-width: 565px;
    text-align: center;
    @include phone{
        margin: 30px auto;
    }
}
.menu-bottom{
    width: 50%;
    margin: 0 auto 50px auto;
    @include phone{
        display: none;
    }
    &__list{
        font-family: $font-open-sans700;
        font-size: 12px;
        line-height: 18px;
        padding: 0 20px;
    }
    &__list_border{
        border-left: 1px solid $mine-shaft;
    }
    &__link{
        font-family: $font-open-sans700;
        color: $mine-shaft;
    }

}

@include phone{
    .menu-list-wrap{
        flex-wrap: wrap;
    }
}

.list-menu__item{
    font-family: $font-Dosis500;
    font-size: 18px;
    line-height: 18px;
}

.list-menu__sub{
    font-family: $font-open-sans400;
    font-size: 12px;
    line-height: 18px;
    color: $mine-shaft;
    margin-bottom: 30px;
}

.form-menu{
    &__textarea{
    width: 92%;
    border-radius: 5px;
    margin: 5px;
    background-color: $mercury;
    font-family: $font-open-sans400;
    font-size: 14px;
    line-height: 19px;
    padding: 5px;
    resize: none;
    }
}

.menu-form-wrap{
    min-width: 92%;
    @include phone{
        flex-direction: column;
        align-items: center;
        margin: auto;
    }
}

.menu-form-wrap_l{
    min-width: 50%;
    flex-basis: 50%;
    @include phone{
        min-width: 92%;
        flex-basis: 92%;
        margin: 10px 0;
    }
}

.menu-form-wrap_r{
    min-width: 50%;
    flex-basis: 50%;
    @include phone{
        min-width: 92%;
        flex-basis: 92%;
        order: -1;
    }
}

.fa-map-marker-alt, .fa-phone, .fa-envelope{
    margin: 0 5px;
    color: $corn;
}

.copyright{
    min-width: 100%;
    padding: 50px 0 50px 0;
    background-color: $black;
    color: $white;
    text-align: center;
    font-family: $font-open-sans700;
    font-size: 12px;
    &__opasity{
        color: $white-opasity;
        font-family: $font-open-sans400;
    }
}